<!DOCTYPE html>
<html>
<head>
<title>HerbID - Unlocking nature's healing secrets</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='home_page.css')}}">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/The-Benefits-of-Fresh-Herbs_Header_800x550.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/home_page.html" class="w3-bar-item w3-button w3-wide">HerbID</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-question"></i> ABOUT </a>
      <a href="/login_page.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN / SIGN UP</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-male"></i> TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
<div class="overlay">
  <div class="logo">
    <img src="/static/Animation - 1697688835239.gif">
  </div>
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Unlocking nature's healing secrets</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Unlocking nature's healing secrets</span><br>
    <span class="w3-large">Nature, in her indifference, makes medicinal plants with their virtues, and poisons with their harms; <br> but it is mankind to seek knowleadge and use one or the other as they see fit.</span>
    <p><a href="{{ url_for('upload')}}" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" style="border-radius: 50px;">Get started</a></p>
  </div> 
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THIS APPLICATION</h3>
  <p class="w3-center w3-large">Key features</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-bolt w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>Exhibits exceptional responsiveness, providing users with a fluid and efficient experience.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-bullseye w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Accurate</p>
      <p>The application stands out for its unwavering commitment to accuracy, delivery results with precision and consistency.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design and information</p>
      <p>Boasts a sofisticated and well crafted design as well as provide valuable source of information, providing users with the comprehensive and insightful content.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Offers exemplary support services via email, ensuring that users receive prompt and effective assistance.</p>
    </div>
  </div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>HOW IT WORKS ?</h3>
      <p>1. Upload an image of the plant/leaf to identify and gather medicinal information. ( Must be of jpg, jpeg or png format ) <br> 
         2. Image processing and labeling of the corresponding plant species takes place. <br>
         3. Feature extraction and recognition using Convolutional Neural Networks ( CNNs ) trained models. <br>
         4. Display of plant name with basic medicinal information ( i.e. dosage, action,ayurvedic names, family, habitat, etc. ) having a high accuracy.</p>
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> Sample Works</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="/static/Screenshot 2023-10-27 at 3.37.13 PM.png" width= "800">
    </div>
  </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">Developers of  the app</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/static/harshith.png" style="width:100%">
        <div class="w3-container">
          <h3>Harshith Babu</h3>
          <p class="w3-opacity">Front-end Developer</p>
          <p>III yr BE (Computer Science Engineering)</p>
          <p><class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</class=> - harshithbabu2001@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/static/dhiraaj.png" style="width:100%">
        <div class="w3-container">
          <h3>Dhiraaj K V</h3>
          <p class="w3-opacity">AIML & Full-stack Developer</p>
          <p>III yr BE (Computer Science Engineering)</p>
          <p><class = "w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</class> - dhiraajph@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/static/sakthi.png" style="width:100%">
        <div class="w3-container">
          <h3>Sakthi Vishnu M</h3>
          <p class="w3-opacity">Data Analyst</p>
          <p>III yr BE (Computer Science Engineering)</p>
          <p><class = "w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</class> - vishnugavi2003@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/static/swetha.png" alt="Dan" style="width:100%">
        <div class="w3-container">
          <h3>Swetha P</h3>
          <p class="w3-opacity">Database Designer</p>
          <p>III yr BE (Computer Science Engineering)</p>
          <p><class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</class=> - swethaswethas343@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="/static/vedha.png" style="width:100%">
          <div class="w3-container">
            <h3>Vedhashini S</h3>
            <p class="w3-opacity">UI/UX Designer</p>
            <p>III yr BE (Computer Science Engineering)</p>
            <p><class = "w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</class> - vedha.info04@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="/static/deepti.png" style="width:100%">
          <div class="w3-container">
            <h3>Deepti S</h3>
            <p class="w3-opacity">UI/UX Designer</p>
            <p>III yr BE (Computer Science Engineering)</p>
            <p><class = "w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</class> - 23122002deepti@gmail.com</p>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-quarter">
    <span class="w3-xxlarge">90%+</span>
    <br>Accuracy
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">170</span>
    <br>Plant / Leaf-segments species
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">3</span>
    <br>Real-time databases
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">2</span>
    <br>CNN train models
  </div>
</div>

<!-- Work Section -->
<div class="w3-container" style="padding:128px 16px" id="work">
  <h3 class="w3-center">OUR WORK</h3>
  <p class="w3-center w3-large">Sample predictions</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="/static/Screenshot 2024-01-14 122106.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="#1">
    </div>
    <div class="w3-col l3 m6">
      <img src="/static/Screenshot 2024-01-14 122405.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="#2">
    </div>
    <div class="w3-col l3 m6">
      <img src="/static/Screenshot 2024-01-14 122631.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="#3">
    </div>
    <div class="w3-col l3 m6">
      <img src="/static/Screenshot 2024-01-14 122752.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="#4">
    </div>
  </div>
</div>

<!-- Modal for full size static on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Want to reach us ? Send us a message :</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Coimbatore, INDIA</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email : herbid.info@gmail.com</p>
    <br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Back to the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <!-- <a href="https://www.snapchat.com/"><i class="fa fa-snapchat w3-hover-opacity"></i></a> -->
    <!-- <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a> -->
    <a href="https://www.twitter.com/"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/dhiraajkv/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <p>Developed by Team Axon</p>
</footer>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>