<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>HerbID - Get Started</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css')}}">
</head>

<body>
    <div class="box-form">
        <div class="left">
            <div class="overlay_1">
            <br><br><br>
            <h1>Plant Species Identification</h1><br><br><br>
            <form action="/plant_species" method="POST" enctype="multipart/form-data">
                <input
                    style="width:200px;border:1px solid rgba(0, 0, 0, 0.422); background-color: rgb(10, 125, 8); border-radius:15px; text-align:center"
                    type="file" name="image">
                <br><br><br>
                <input type="submit" id="submit" style="color: #fff;
                        font-size: 16px;
                        padding: 12px 35px;
                        border-radius: 50px;
                        display: inline-block;
                        border: 0;
                        outline: 0;
                        box-shadow: 0px 4px 20px 0px #49c628a6;
                        background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);" value="Predict">
            </form>
            </div>
        </div>
        <div class="right">
        <div class="overlay_2">
            <br><br><br>
            <h1>Leaf Segment Identification</h1><br><br><br>
            <form action="/plant_segment" method="POST" enctype="multipart/form-data">
                <input
                    style="width:200px;border:1px solid rgba(0, 0, 0, 0.422); background-color: rgb(10, 125, 8); border-radius:15px; text-align:center"
                    type="file" name="image">
                <br><br><br>
                <input type="submit" id="submit" style="color: #fff;
                                        font-size: 16px;
                                        padding: 12px 35px;
                                        border-radius: 50px;
                                        display: inline-block;
                                        border: 0;
                                        outline: 0;
                                        box-shadow: 0px 4px 20px 0px #49c628a6;
                                        background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);" value="Predict">
                 </form>
        </div>
    </div>
</div>
</body>
</html>